<div class="login-box">
  <img src="<%= asset_path('logo/logo-with-text.png') %>" width="500px"/>
  <h1>Live Streaming & NFTs</h1>
  <p>
    Start a live stream and allow you audience to mint NFTs!
  </p>
  <p>
    <%= link_to "Log In", new_creator_session_path, class: "" %> |
    <%= link_to "Sign Up", new_creator_registration_path, class: "" %>
  </p>
</div>


