<h1>ColorPixels Live Streaming & NFTs</h1>

<p>
    Start a live stream and allow you audience to mint NFTs!
</p>
<p>
    <%= link_to "Log In", new_creator_session_path, class: "" %> | 
<%= link_to "Sign Up", new_creator_registration_path, class: "" %>
</p>


