<div>
  Hello creator: <%= @creator.username %>
</div>

<div>
  Events:
  <ul>
    <% @creator.events do |event| %>
      <li><%= event.name %></li>
    <% end %>
    <% if @creator.events.blank? %>
      <li>No events</li>
    <% end %>
  </ul>
</div>

<div>
  <button>
    Create event
  </button>
</div>